.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
}
.login input[type=text]{
  font-size: 20px;
  width: 20%;
  border-radius: 5px;

}
.login input[type=password]{
  font-size: 20px;
  width: 20%;
  border-radius: 5px;
}
.login button{
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
}

.table{
  width: 100%;
  margin: 30px;
}
.table tr,th,td{
  border: 2px solid black;
}
.table th,td{
  padding: 15px;
  font-size: 20px;
}